.form-input {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--main-text-color);
  background-color: var(--body-color);
  border: 1px solid var(--main-border-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-input:focus {
  border-color: var(--main-focus-color);
  outline: 0;
  box-shadow: 0 0 0 0.25rem var(--main-shadow-color);
}

.form-input-label {
  margin-bottom: 0.5rem;
  display: inline-block;
}
